@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-10">
        <h3 class="display-8">Bank List</h3>
    </div>
    <div class="col-md-2 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">AppointmentDetail Id</th>
                    <th class="card-title text-center">Appointment Id</th>
                    <th class="card-title text-center">Animal Id</th>
                    <th class="card-title text-center">Veterinarian Id</th>
                    <th class="card-title text-center">Service Id</th>
                    <th class="card-title text-center">Service Date</th>
                    <th class="card-title text-center">Service Time</th>
                    <th class="card-title text-center">Status</th>
                    <th class="card-title text-center">Notes</th>
                    <th class="card-title text-center">Service Duration</th>
                    <th class="card-title text-center">Service Cost</th>
                </tr>
            </thead>
            <tbody class="tblAppointmentDetails">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="appointmentDetailModal" tabindex="-1" aria-labelledby="appointmentDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="appointmentDetailModalLabel">Appointment Detail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            loadData();
        });

        function loadData() {
            alert("Load data progressing ...");

            $.ajax({
                url: 'https://localhost:7238/api/AppointmentDetail',
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    alert('Server response: ' + result.message);
                    console.log(result);
                    var html = '';
                    $.each(result.data, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.appointmentDetailId + '</td>';
                        html += '<td>' + item.appointmentId + '</td>';
                        html += '<td>' + item.animalId + '</td>';
                        html += '<td>' + item.veterinarianId + '</td>';
                        html += '<td>' + item.serviceId + '</td>';
                        html += '<td>' + item.serviceDate + '</td>';
                        html += '<td>' + item.serviceTime + '</td>';
                        html += '<td>' + item.status + '</td>';
                        html += '<td>' + item.notes + '</td>';
                        html += '<td>' + item.serviceDuration + '</td>';
                        html += '<td>' + item.serviceCost + '</td>';
                        html += '<td></td>';
                        html += '</tr>';
                    });
                    $('.tblAppointmentDetails').html(html);
                },
                error: function (xhr, error) {
                    alert(xhr.statusText);
                }
            });
        }

        function add() {
            $("#appointmentDetailModalContent").html("");
            $("#appointmentDetailModalLabel").html("Add New");

            $('#appointmentDetailModal').modal('show');
        }

    </script>
}